streamlit
langchain
langchain-community
langchain-core
langchain-openai
langchain-google-genai
langchain-groq
django
django-cors-headers
djangorestframework
python-dotenv
SQLAlchemy
google-generativeai
groq
